/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.container {
    max-width: fit-content;
    width: 100%;
    background-color: #ffc7ff;
    border: 1px solid #241b35;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
}

span {
    color: #373737;
}

span::before {
    content: "";
    position: absolute;
    animation: blink 0.7s infinite;
}